body {
  background-color: #DDD;
}

html body #nav {
  margin: 10px auto 25px auto;
  padding: 10px 25px;
  top: 0;
  width: 910px;
}

html body #wrapper {
 /* min-height: 600px; */
}
.clear { clear: both; }

#nav, #wrapper {
  background-color: #FFF;
  margin: 10px auto;
  width: 960px;
  border: .15em solid #CCC;

  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;

  -moz-box-shadow: 0 0 .5em #EEE;
  -webkit-box-shadow: 0 0 .5em #EEE;
  box-shadow: 0 0 .5em #EEE;
}

body {
  font: 13.34px helvetica, arial, freesans, clean, sans-serif;
}

#nav {
  font-size: 12px;
  font-weight: bold;
}

#nav a {
  color: #333;
  text-decoration: none;
}

#nav a:hover {
  text-decoration: underline;
}

#nav #search_box {
  float: right;
  margin-top: -4px;
}

#nav #search_box input {
  border: 1px solid #BBB;
  padding: 3px;
}

#wrapper #content {
  padding: 15px;
  width: 70%;
  float: left;
}

h1, h2, h3, h4, h5, h6 {
  color: #495961;
  text-shadow: 1px 1px 0 #FFF;
  font-weight: normal;
}

#wrapper #content h1 {
  font-size: 30px;
  border-bottom: 1px solid #EEE;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

#wrapper #content h2 {
  font-size: 18px;
  font-weight: bold;
}

#wrapper #content .article {
  padding: 10px 5px;
  border-bottom: 1px solid #EEE;
}

#wrapper #content .article.last_article {
  border-bottom: 0px;
}

#wrapper #content #pagination {
  margin-top: 25px;
}

#wrapper #content #pagination a {
  font-weight: normal;
  color: #333;
}

#wrapper p {
  color: #666;
  margin: 1em 0;
}

#wrapper #sidebar {
  width: 20%;
  display: block;
  border-left: .1em solid #EEE;
  padding: 15px;
  float: left;
}

#wrapper #sidebar ul li {
  list-style: none;
}

#wrapper #sidebar ul.icons li {
  margin-left: 25px;
}

#wrapper #sidebar ul li.twitter {
  list-style-image: url('images/icons/16/twitter.png');
}

#wrapper #sidebar ul li.facebook {
  list-style-image: url('images/icons/16/facebook.png');
}

#wrapper #sidebar ul li.myspace {
  list-style-image: url('images/icons/16/myspace.png');
}

#wrapper #sidebar ul li.youtube {
  list-style-image: url('images/icons/16/youtube.png');
}

#wrapper #sidebar ul li.msn {
  list-style-image: url('images/icons/16/msn.png');
}

#wrapper #sidebar ul li.gtalk {
  list-style-image: url('images/icons/16/google-talk.png');
}

#wrapper #sidebar ul li.skype {
  list-style-image: url('images/icons/16/skype.png');
}

#wrapper a {
  font-size: 12px;
  color: #4183C4;
  text-decoration: none;
  font-weight: bold;
}

#wrapper a:hover {
 text-decoration: underline;
}

#sidebar h2 {
  font-weight: bold;
  font-size: 18px;
  margin: 15px 0 5px;
}

#wrapper #footer {
  width: 960px;
  color: #333;
  text-shadow: 2px 2px #DEDEDE;
  position: absolute;
}

#wrapper #footer p {
 color: #333;
 font-weight: bold;
}

/** Form styles **/

fieldset {
  padding: 1em 5em;
}

fieldset form label {
  display:block;
  font-size: 16px;
  margin: 8px 0px;
}

label small {
  font-size: 11px;
  color: #666;
}

fieldset form input[type=text], fieldset form textarea {
  border: 2px solid #BBB;
  padding: 6px 3px;
}

fieldset form input[type=text] {
  width: 70%;
}

fieldset form textarea {
  width: 90%;
  height: 150px;
  margin-bottom: 5px;
}
